### SQL Básico

In [ ]:
%load_ext sql
import pandas as pd
%sql sqlite://

In [ ]:
# Cargamos las tablas desde los CSV
# Cities
with open('Cities.csv','r') as f:
    Cities = pd.read_csv(f, index_col=0, encoding='utf-8')
%sql drop table if exists Cities;
%sql persist Cities
# Countries
with open('Countries.csv','r') as f:
    Countries = pd.read_csv(f, index_col=0, encoding='utf-8')
%sql drop table if exists Countries;
%sql persist Countries

#### Listamos las primeras 5 filas de cada tabla

In [ ]:
%%sql
select * from Cities limit 5

In [ ]:
%%sql
select * from Countries limit 5

### Select Básico
Select columns  
From tables  
Where condition

*Listar todos los países que no pertenecen a la EU*

In [ ]:
%%sql
select country
from Countries
where EU = 'no'

*Listar todas las ciudades con temperatura entre -5 y 5; Mostrar ciudad, país, y temperatura*

In [ ]:
%%sql
select city, country, temperature
from Cities
where temperature > -5 and temperature < 5

### Consultas a múltiples tablas - Joins

*Listar todas las ciudades con longitud < 10 que no pertenezcan a la EU, retornar ciudad y longitud*

In [ ]:
%%sql
select city, longitude
from Cities, Countries
where Cities.country = Countries.country
and longitude < 10 and EU = 'no'

*Listar todas las ciudades con latitud < 50 en los países con población < 5; retornar ciudad, país, y población, ordenado por país*

In [ ]:
%%sql
select city, Cities.country, population
from Cities, Countries
where Cities.country = Countries.country
and latitude < 50 and population < 5
order by Cities.country

### Agregación y Agrupamiento

*El promedio de todas las temperaturas*

In [ ]:
%%sql
select avg(temperature)
from Cities

*Listar la temperatura mínima y máxima entre las ciudades de la EU (then not in the EU)*

In [ ]:
%%sql
select min(temperature), max(temperature)
from Cities, Countries
where Cities.country = Countries.Country
and EU = 'yes'

*Listar la temperatura promedio por cada país*

In [ ]:
%%sql
select country, avg(temperature)
from Cities
group by country

*Listar la temperatura promedio de todas las ciudades con costa y sin costa*

In [ ]:
%%sql
select coastline, avg(temperature)
from Cities, Countries
where Cities.country = Countries.country
group by coastline